@import '../node_modules/leaflet/dist/leaflet.css';
.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.mapContainer {
    width: auto;
    height: 93.2vh;
}

.my-div-icon {
    color: red;
    font-size: 13px;
}

.my-div-icon-success {
    color: red;
    font-size: 13px;
    line-height: 64px;
}

.operateDiv {
    position: absolute;
    top: 80px;
    display: flex;
    width: 80%;
    padding: 0px 60px;
    z-index: 999;
}

.queryAll {
    width: 100px;
    height: 30px;
    margin: 0px 20px;
    background: #1E9FFF;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.selectBtn {
    width: 100px;
    height: 30px;
    background: #1E9FFF;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.tipsInfo {
    color: rgb(253, 101, 0);
    font-size: 16px;
}